::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep .vertical-center-modal .ant-modal {
    top: 0;
  }

  button {
    margin-bottom: 16px;
}
.row-btn{
  margin-bottom:0px;
}